<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body class="container">

<header>
</header>

<main>
  <div class="jumbotron">
      <h1>Confirmation</h1>
      <h2>Your answer was registered at the form :</h2>
      <h3><%= info[0].name %> - <%= info[0].id %></h3>
  </div>
</main>

<footer>
  <a href="/listForms">Go to all forms list.</a>
</footer>

</body>
</html>
