<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body class="container">

<header>
</header>

<main>
    <div class="jumbotron">
        <h1>This is great</h1>
        <p>Welcome to templating using EJS</p>
        <h2>Loop</h2>

        <ul>
            <li>
              <a href="/listForms">Go to all forms list.</a>
            </li>
            <li>
              <a href="/authenticate">Register a new form.(Requires Auth Login)</a>
            </li>
        </ul>
    </div>
</main>

<footer>
</footer>

</body>
</html>
